body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.course {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

input, select {
  padding: 8px;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

canvas {
  margin-top: 20px;
}